@import "variables.css";

@view-transition {
  navigation: auto;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--body-background);
  background-image: url(/images/background-pattern.png), linear-gradient(-90deg, #242424, var(--body-background));
  background-size: 64px, cover;
  color: var(--body-color);
  font-family: Gelasio, Georgia, 'Times New Roman', Times, serif;
  margin: 0 8px;
  font-size: 120%;
  line-height: 1.65;
}

:where(p) {
  margin-block-end: var(--size-6);
}

@media (min-width: 786px) {
  body {
    line-height: 1.75;
  }

  :where(p), article :where(ul, ol) {
    margin-block-end: var(--size-7);
  }
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

a:not(.unstyled) {
  color: var(--action-color);
}

main a:not(.unstyled), a.styled {
  background: var(--action-background-color);
  padding: 1px 4px;
  border-radius: 2px;
  text-shadow: var(--text-shadow-default);
  box-decoration-break: clone;
}

h1 {
  margin: 1rem 0 2.8rem;
  text-align: center;
  font-family: "Seriffic Grunge";
  font-weight: bold;
  font-size: var(--font-size-6);
  color: var(--heading-color);
  line-height: 1.3;
  --text-shadow-color: var(--dark-green-color);
  text-shadow: 2px 5px 3px var(--text-shadow-color);
}

h2 {
  font-size: calc(var(--font-size-7) - var(--font-size-0));
  color: var(--pop-color);
  line-height: 1.3;
  --text-shadow-color: var(--dark-pop-color);
  text-shadow: 2px 5px 3px var(--text-shadow-color), -0.5px -0.5px 0px var(--orange-2);
  margin-block-end: var(--size-7);
}

h3, h4, strong {
  color: var(--emphasis-color);
}

h3, h4 {
  margin-block-end: var(--size-7);
}

body > header {
  margin: 1rem;
  margin-block-start: var(--size-5);
  text-align: center;
}

body > header img {
  display: inline-block;
  image-rendering: crisp-edges;
  width: 400px;
  max-width: 100%;
}

body > header h1 {
  font-size: calc(var(--font-size-3) + var(--font-size-4));
  margin-block-end: var(--size-4);
}

body > nav ul {
  margin: 0;
  margin-block-end: var(--size-5);
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--size-5);
  row-gap: var(--size-3);
  font-family: "Seriffic Grunge";
  font-weight: bold;
  font-size: var(--font-size-3);
}

body > nav a {
  background: none;
  color: var(--action-color);
  text-shadow: var(--text-shadow-default);
}

body > nav img {
  display: inline-block;
  image-rendering: crisp-edges;
  vertical-align: -0.3em;
  margin-right: var(--size-1);
  position: relative;
}

main {
  --main-padding-inline: 45px;
  --main-padding-block-end: 60px;
  --main-font-size: 100%;
  --main-max-width: 56rem;

  margin-inline: auto;
  margin-block: var(--size-7) var(--size-11);
  max-width: var(--main-max-width);
  min-height: calc(100vh - 200px);
  padding-inline: var(--main-padding-inline);
  padding-block: var(--main-padding-inline) var(--main-padding-block-end);
  background: #141414;
  border-radius: 9px;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  font-size: var(--main-font-size);
}
@media (max-width: 500px) {
  main {
    --main-padding-inline: 14px;
    --main-padding-block-end: 60px;
    --main-font-size: 85%;
  }
}
@media (min-width: 1400px) {
  main {
    --main-font-size: 115%;
    --main-max-width: 76rem;

    /* TODO: should use semantic tokens rather than redefine Open Props */
    --font-size-6: 3.25rem;
    --font-size-7: 3.25rem;
    --size-8: 3.75rem;

    --subheading-font-size-fluid: 2.15rem;
  }

  /* TODO: this is just a weird hack! */
  img[style*="vertical-align: -0.5em"] {
    vertical-align: -0.4em !important;
  }

  img[style*="vertical-align: -0.3em"] {
    vertical-align: -0.2em !important;
  }
}

main img {
  max-width: 100%;
}

article h1 {
  max-inline-size: 30ch;
  margin-inline: auto;
}

body > footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}
@media (max-width: 500px) {
  body > footer {
    font-size: .9em;
  }
}

body > footer img {
  image-rendering: crisp-edges;
  vertical-align: -0.4em;
}

hr {
  border: none;
  border-top: 2px groove var(--dark-pop-color);
  margin: var(--size-8) 0;
}

blockquote {
  margin: var(--size-7) 0;
}

blockquote {
  background: black;
  border: 1.5px dashed var(--dark-turquoise-color);
  border-radius: 4px;
  padding: min(4vw, var(--size-5));
}

blockquote > p:last-child {
  margin-bottom: 0;
}

* > p:first-child {
  margin-top: 0;
}

code {
  font-family: ui-monospace, monospace;
  font-size-adjust: ch-width 0.575;
}

ul.unstyled {
  list-style-type: none;
  padding: 0;
}

.link-with-icon > * {
  display: flex;
  gap: var(--size-3);
  align-items: center;;
}

.link-with-icon img {
  margin-block-start: -2px;
}

body.post h2 {
  margin-block-start: var(--size-9);
}
@media (max-width: 500px) {
  body.post h2 {
    font-size: calc(var(--font-size-4) + 0.35rem);
  }
}


article.post {
  background: color-mix(in srgb, var(--dark-green-color), transparent 90%);

  border: 2px groove var(--dark-pop-color);
  padding: var(--size-4);
}

@media (max-width: 500px) {
  article.post {
    padding-inline: var(--size-3);
    margin-inline: calc(0rem - var(--size-1) - 2px);
  }
}

article.post h3 {
  margin-block-start: 0;
}

article.post p:last-child {
  margin-block-end: 0;
}