@import "open-props/open-props.min.css";
@import url(https://fonts.bunny.net/css?family=gelasio:400,400i,700,700i);

@font-face {
  font-family: "Seriffic Grunge";
  src: url("../fonts/SERRIGRU.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-medium-gray: var(--gray-7);

  --body-background: #000000;
  --body-color: #cccccc;
  --action-color: #ffee00;
  --action-background-color: #001555;
  --green-color: #00ff00;
  --dark-green-color: #006600;
  --turquoise-color: #00ffff;
  --dark-turquoise-color: #006666;
  --heading-color: var(--green-color);
  --pop-color: #ff9900;
  --dark-pop-color: #663300;
  --emphasis-color: white;
  --text-shadow-default: 0px 1px 1px rgba(0,0,0,0.3);

  --subheading-font-size-fluid: clamp(1.35rem,4vw,2rem);
}
